
.MainContainerHoldingEverything{
    max-width: 1200px;
    margin: auto;
}


h2 {
    font-size: xx-large;
    margin-top: 15px;
}

.lineDiv {
    border: 1px solid lightgray;;
}


.spotDetails {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 1200px;
}

.spotLocation{
    margin-bottom: 20px;
}

.hostedByDiv{
    font-size: 24px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}


.detailsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: fit-content;
}

.PicturesContainer{
    display: flex;
    max-width: 1200px;
    height: 500px;
    margin-bottom: 15px;
}

.firstPicture{
    width: 55%;
    height: 101%;
    margin-right: 10px;
}

.AllOtherPics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 4px;
}

.AllOtherPics > img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 49%;
    height: 50%;
}

.spotDescription {
    max-width: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 50px 50px 0px;
    margin-top: 30px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-size: 17px;
    line-height: 23px;
}


.AllDetailsOnLeftContainer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 700px;
}


.IconAndTextDescribeAnem{
    display: flex;
    margin-top: 20px;
    column-gap: 15px;
}


.DivHoldingIcon{
    display: flex;
    align-items: center;
    font-size: 25px;
}

.DescriptionTitleText{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 7px;
}

.TextBelowTitle{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
}


.WhatOffersTitle{
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 10px;

}


.ContainerHoldingAllOffers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 210px;
    row-gap: 22px;

}


.DivWithIconAndAmen{
    font-size: 21px;
}

.icon{
    margin-right: 12px;
}


.DivHoldingCalendar{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


.ContainerHoldingAllReserveInfo{
    position: sticky;
    top: 28%;
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 350px;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 2px lightgray;
}


.reserveContainer {
    width: -webkit-fill-available;
    height: 115px;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.react-datepicker-wrapper{
    width: 171px
}


.SelectContainerForGuests{
    width: 349px;
    padding: 12px;
    border-top: none;
    margin-bottom: 40px;
}

.priceAndStarCont {
    display: flex;
    padding: 0px 10px;
    column-gap: 5px;
    margin-bottom: 30px;
}


.priceContainer {
    display: flex;
    width: 120px;
    height: 35px;
    align-items: flex-end;
    margin-right: auto;
}

.pricePerNight {
    font-size: 27px;
}

.starRevDiv {
    display: flex;
    align-items: flex-end;
}

.reviewReserveDiv {
    display: flex;
    align-items: flex-end;
}

.fa-star {
    margin-right: 3px;
    padding-bottom: 3px;
}

/* .reserveContainer > button {
    width: 272px;
    height: 37px;
    box-shadow: 2px 2px 4px gray;
    margin-left: 21px;
    background-color: rgb(255, 106, 106);
    color: white;
    cursor: pointer;
} */

.ReserveButton{
    width: 289px;
    height: 42px;
    box-shadow: 2px 2px 4px gray;
    margin-left: 21px;
    background-color: #ff385c;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}


.WontBeChargedText{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}


.starReviewDiv2 {
    display: flex;
    margin: 20px 41px 13px
}


.starRevDiv2{
    margin-right: 10px;
    font-size: 20px;
}

.reviewReserveDiv2 {
    font-size: 20px;
}


.dot {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
}

.dot2{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
}


.reviewsContainer{
    display: flex;
    flex-direction: column;
    margin: 20px 41px;
    row-gap: 28px;
}

.eachReview {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}


.reviewDate {
    color: gray
}

.createReviewButtonForSpot{
    margin-left: 40px;
    padding: 4px 5px;
    box-shadow: 1px 2px 3px;
    background-color: rgb(255, 106, 106);
    color: white;
    cursor: pointer;
}

.CreateReviewForSpotButton{
    display: flex;
    margin-left: 41px;
    padding: 7px 5px;
    cursor: pointer;
}

.filled{
    color: rgb(213, 44, 44);
    /* background-color: aqua; */
}

.empty{
    color: black;
}

.StarsContainer{
    display: flex;
    justify-content: center;
    column-gap: 3px;
}



.ReviewTextContainer{
    width: 250px;
    height: 90px;
}

#RatingTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.SubmitReviewButton{
    display: flex;
    margin: auto;
    margin-top: 6px;
    width: 255px;
    height: 35px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(255, 106, 106);
    cursor: pointer;
    box-shadow: 1px 2px 3px;
    margin-bottom: 15px;
}

.DisabledColorButton{
    display: flex;
    margin: auto;
    margin-top: 6px;
    width: 255px;
    height: 35px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: darkgray;
    cursor: default;
    box-shadow: 1px 2px 3px;
    margin-bottom: 20px;
}

.eachReview > button{
    max-width: 70px;
}

.AllModalButton{
    box-shadow: 1px 2px 3px;
    cursor: pointer;
}

.Confirm-Delete-Review{
    width: 283px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: rgb(255, 106, 106);
    color: white;
}

.Cancel-Delete-Review{
    width: 283px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(131, 130, 130);
}

.Delete-Review-Title{
    margin-bottom: 12px;
}

.SureDeleteReview{
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px 20px;
}
